## Pandas Lesson
This lesson shows how to use the pandas library

In [1]:
import pandas as pd

In [2]:
periodic_data = pd.read_csv("PubChemElements_all.csv")

In [3]:
periodic_data

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,Fl,Flerovium,290.192000,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196000,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205000,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211000,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,295.216000,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [4]:
# Preview the first five rows
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808

In [5]:
# preview the first 10 rows
periodic_data.head(10)

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808
5,6,C,Carbon,12.011000,909090,[He]2s2 2p2,2.55,170.0,11.260,1.263,"+4, +2, -4",Solid,3823.00,4098.00,2.267000,Nonmetal,Ancient
6,7,N,Nitrogen,14.007000,3050F8,[He] 2s2 2p3,3.04,155.0,14.534,NaN,"+5, +4, +3, +2, +1, -1, -2, -3",Gas,63.15,77.36,0.001251,Nonmetal,1772
7,8,O,Oxygen,15.999000,FF0D0D,[He]2s2 2p4,3.44,152.0,13.618,1.461,-2,Gas,54.36,90.20,0.001429,Nonmetal,1774
8,9,F,Fluorine,18.998403,90E050,[He]2s2 2p5,3.98,135.0,17.423,3.339,-1,Gas,53.53,85.03,0.001696,Halogen,1670
9,10,Ne,Neon,20.180000,B3E3F5,[He]2s2 2p6,NaN,154.0,21.565,NaN,0,Gas,24.56,27.07,0.000900,Noble gas,1898

In [6]:
# Preview the last five rows
periodic_data.tail()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
113,114,Fl,Flerovium,290.192,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,295.216,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [7]:
periodic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AtomicNumber           118 non-null    int64
 1   Symbol                 118 non-null    object
 2   Name                   118 non-null    object
 3   AtomicMass             118 non-null    float64
 4   CPKHexColor            108 non-null    object
 5   ElectronConfiguration  118 non-null    object
 6   Electronegativity      95 non-null     float64
 7   AtomicRadius           99 non-null     float64
 8   IonizationEnergy       102 non-null    float64
 9   ElectronAffinity       57 non-null     float64
 10  OxidationStates        117 non-null    object
 11  StandardState          118 non-null    object
 12  MeltingPoint           103 non-null    float64
 13  BoilingPoint           93 non-null     float64
 14  Density                96 non-null     float64
 15  GroupBlock             118 non-null    object
 16  YearDiscovered         118 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 15.8+ KB

periodic_data.describe()

# Accessing Data

In [9]:
# To slice a pandas dataframe using row and column numbers
# datafram_name.iloc[row_slice, column_slice]
periodic_data.iloc[35:45, :3]

    AtomicNumber Symbol        Name
35            36     Kr     Krypton
36            37     Rb    Rubidium
37            38     Sr   Strontium
38            39      Y     Yttrium
39            40     Zr   Zirconium
40            41     Nb     Niobium
41            42     Mo  Molybdenum
42            43     Tc  Technetium
43            44     Ru   Ruthenium
44            45     Rh     Rhodium

In [10]:
# Use the iloc function to
# 1. select the 5th row
# 2. Select row 30 to the end and first three columns
# 3. Select row 50 to the end every other row and columns 2 through 4

In [13]:
periodic_data.iloc[4]

AtomicNumber                       5
Symbol                             B
Name                           Boron
AtomicMass                     10.81
CPKHexColor                   FFB5B5
ElectronConfiguration    [He]2s2 2p1
Electronegativity               2.04
AtomicRadius                     192
IonizationEnergy               8.298
ElectronAffinity               0.277
OxidationStates                   +3
StandardState                  Solid
MeltingPoint                    2348
BoilingPoint                    4273
Density                         2.37
GroupBlock                 Metalloid
YearDiscovered                  1808
Name: 4, dtype: object

In [15]:
periodic_data.iloc[30:,0:3]

     AtomicNumber Symbol         Name
30             31     Ga      Gallium
31             32     Ge    Germanium
32             33     As      Arsenic
33             34     Se     Selenium
34             35     Br      Bromine
..            ...    ...          ...
113           114     Fl    Flerovium
114           115     Mc    Moscovium
115           116     Lv  Livermorium
116           117     Ts   Tennessine
117           118     Og    Oganesson

[88 rows x 3 columns]

In [16]:
periodic_data.iloc[50:, 2:5]

            Name  AtomicMass CPKHexColor
50      Antimony  121.760000      9E63B5
51     Tellurium  127.600000      D47A00
52        Iodine  126.904500      940094
53         Xenon  131.290000      429EB0
54        Cesium  132.905452      57178F
..           ...         ...         ...
113    Flerovium  290.192000         NaN
114    Moscovium  290.196000         NaN
115  Livermorium  293.205000         NaN
116   Tennessine  294.211000         NaN
117    Oganesson  295.216000         NaN

[68 rows x 3 columns]

In [17]:
# syntax for intervals

In [18]:
# to get a column of information
# dataframe_name["column_name"]


#List the column names
periodic_data.columns

Index(['AtomicNumber', 'Symbol', 'Name', 'AtomicMass', 'CPKHexColor',
       'ElectronConfiguration', 'Electronegativity', 'AtomicRadius',
       'IonizationEnergy', 'ElectronAffinity', 'OxidationStates',
       'StandardState', 'MeltingPoint', 'BoilingPoint', 'Density',
       'GroupBlock', 'YearDiscovered'],
      dtype='object')

In [20]:
periodic_data[["AtomicMass", "Symbol"]]

     AtomicMass Symbol
0      1.008000      H
1      4.002600     He
2      7.000000     Li
3      9.012183     Be
4     10.810000      B
..          ...    ...
113  290.192000     Fl
114  290.196000     Mc
115  293.205000     Lv
116  294.211000     Ts
117  295.216000     Og

[118 rows x 2 columns]

In [23]:
# Third way to get information from dataframes - loc function
# loc function lets us use column and row names

periodic_data.loc[35, "Symbol"]

'Kr'

In [24]:
periodic_data["BoilingPoint"]

0        20.28
1         4.22
2      1615.00
3      2744.00
4      4273.00
        ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN
Name: BoilingPoint, Length: 118, dtype: float64

In [25]:
periodic_data["BoilingPoint"] - 273.15

0      -252.87
1      -268.93
2      1341.85
3      2470.85
4      3999.85
        ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN
Name: BoilingPoint, Length: 118, dtype: float64

In [26]:
periodic_data["BoilingPoint"] = periodic_data["BoilingPoint"]-273.15

In [27]:
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,-252.87,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,-268.93,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1341.85,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2470.85,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,3999.85,2.370000,Metalloid,1808

In [29]:
# Save new dataframe
# can do .toExcel
# can read excel
periodic_data.to_csv("periodic_tab1_processed.csv")